{% assign ns = "page-foot" %}
<footer class="{{ ns }}" data-theme="white">
  <section class="{{ ns }}__content">
    <section class="{{ ns }}__tagline">
      <img class="{{ ns }}__tagline__logo" src="/images/logo-large.png" alt="Apache Bookkeeping Logo" class="{{ ns }}__icon">
    </section>

    <section class="{{ ns }}__nav">
      <section class="{{ ns }}__head">Site Navigation</section>
      <nav class="{{ ns }}__links" data-theme="dark">
        {% for pageKey in site.data.nav %}
          {% assign page = site.data.pages[pageKey] %}
          <a class="{{ ns }}__link" href="{{ page.link }}">{{ page.name }}</a>
        {% endfor %}
      </nav>
    </section>

    <section class="{{ ns }}__nav">
      <section class="{{ ns }}__head">Follow us at</section>
      <nav class="{{ ns }}__social-links" data-theme="dark">
        {% assign sorted-media = site.data.social-media | where: "site-type","major" %}
        {% for media in sorted-media %}
          <a title="{{ media.name }}" class="{{ ns }}__link {{ ns }}__social-link" href="{{ media.link }}" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="{{ media.viewBox }}">
              {{ media.image }}
            </svg>
          </a>
        {% endfor %}
      </nav>
    </section>
  </section>
</footer>
