<header class="page-head">
  <input class="page-head__toggle __toggle" id="toggle__page-head" type="checkbox" checked="checked">

  <section class="page-head__inside" data-theme="white">
    <section class="page-head__left"></section>
    <section class="page-head__right"></section>
    <section class="page-head__tabs">
      <section class="page-head__tab"></section>
    </section>
  </section>

  <section class="page-head__outside" data-theme="dark">
    <a class="page-head__home" href="/">
      <picture>
        <source srcset="/images/logo-medium.png" media="(min-width: 768px)">
        <img class="page-head__logo" src="/images/logo-small.png">
      </picture>
    </a>
    <section class="page-head__outside-top"></section>
    <section class="page-head__button">
      <label class="page-head__button-button" for="toggle__page-head">
        <svg class="hamburger" data-theme="over" viewBox="0 0 100 100" width="100%" height="100%">
          <rect id="line0" y="13" width="100" height="16" rx="10"></rect>
          <rect id="line1" y="42" width="100" height="16" rx="10"></rect>
          <rect id="line2" y="42" width="100" height="16" rx="10"></rect>
          <rect id="line3" y="71" width="100" height="16" rx="10"></rect>
        </svg>
      </label>
    </section>
  </section>

  <nav class="page-head__menu" data-theme="menu">
    {% for pageKey in site.data.nav %}
      {% assign page = site.data.pages[pageKey] %}
      <a class="page-head__menu-item" href="{{ page.link }}">{{ page.name }}</a>
    {% endfor %}
  </nav>
  
  <label class="page-head__overlay" for="toggle__page-head"></label>
</header>
<section class="page-head__spacer"></section>
