---
---

@import "element/head";
@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $sub2section-gap,
  $main-column-width,
);

.article img {
  max-width: 100%;
  height: auto;
}

.writer-box {
  display: grid;
  grid-template:
    "head" auto
    "image" auto
    "foot" auto
    / 100%
  ;
  
  @media all and (min-width: $main-column-width-small) {
    grid-template:
      "image head" 1fr
      "image foot" auto
      / minmax(auto, 256px) 1fr
    ;
  }
  justify-content: center;
  justify-items: center;
  @include clamp("grid-gap", $section-gap);
  @include clamp("padding", $section-gap);
  box-sizing: border-box;
  border: solid 1px currentcolor;
  border-radius: $section-border-radius;
  
  &__image {
    max-height: 50vh;
    grid-area: image;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
  }
  
  &__title {
    grid-area: head;
  }
  
  &__summary {
    grid-area: body;
  }
  
  &__button {
    @include button;
    grid-area: foot;
  }
}

@media all and (min-width: $main-column-width-small) {
  .article img {
    margin: 1rem;
    max-width: 25%;
    height: auto;
  }
  .article img:nth-child(odd) {
    float: left;
  }
  .article img:nth-child(even) {
    float: right;
  }
}

.columns {
  @include clamp("margin", $page-gap);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90vw;//TODO: Something prettier
  box-sizing: border-box;
  
  grid-template:
    "main" 1fr
    "more"
    / 100%
  ;
  
  @media all and (min-width: $main-column-width-small + $side-column-width-small + $section-gap-max + 2*$page-gap-max) {
    grid-template: 
      "main more"
      / 3fr 1fr;
    align-items: stretch;
  }
  
  @media all and (min-width: $main-column-width-small + 2*($side-column-width-small + $section-gap-max + $page-gap-max)) {
    grid-template: 
      ". main more"
      / 1fr 3fr 1fr;
    align-items: stretch;
  }
  
  @media all and (min-width: $main-column-width-max + 2*($side-column-width-max + $page-gap-max + $section-gap-max)) {
    grid-template: 
      ". main more"
      / $side-column-width-max $main-column-width-max $side-column-width-max;
  }
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
}

.more {
  grid-area: more;
  width: 100%;
  height: 100%;
  background-color: var(--theme-block__background-color);
  box-sizing: border-box;
  @include clamp("padding", $subsection-gap);
  border-radius: $section-border-radius;
  
  &__related, &__recent {
    @include clamp("margin-top", $subsection-gap);
    @include clamp("margin-bottom", $subsection-gap);
    &__title {
      border-bottom: solid 1px currentcolor;
    }
    &__list {
      list-style-position: inside;
      @include clamp("padding-left", $sub2section-gap);
      display: grid;
      grid-auto-flow: row;
      @include clamp("grid-gap", $sub2section-gap);
    }
    &__item {
      display: list-item;
    }
  }
  
  &__history {
    @include clamp("margin-top", $subsection-gap);
    @include clamp("margin-bottom", $subsection-gap);
    &__title {
      border-bottom: solid 1px currentcolor;
    }
    &__list {
      list-style-position: inside;
    }
    &__item {
      display: list-item;
    }
    &__year {
      &__title {
        @include clamp("margin-top", $sub2section-gap);
      }
      &__list {
        list-style-position: inside;
        @include clamp("padding-left", $sub2section-gap);
        display: grid;
        grid-auto-flow: row;
        @include clamp("grid-gap", $sub2section-gap);
      }
      &__item {
        display: list-item;
        font-size: 0.8rem;
      }
    }
  }
}
