@import "settings-helper";
@import "element/head";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $main-column-width,
);
$icon-diameter: 4rem;
$icon-radius: $icon-diameter / 2;

.summary-methodology {
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  grid-auto-flow: row;
  
  @media only screen and (min-width: 3*$text-width-min) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: stretch;
  }
  
  &__card {
    display: grid;
    grid-template-columns:
                    [icon-beg         ]
      $icon-radius  [         data-beg]
      $icon-radius  [icon-end         ]
      1fr           [         data-end]
    ;
    grid-template-rows:
                    [icon-beg         ]
      $icon-radius  [         data-beg]
      $icon-radius  [icon-end         ]
      1fr           [         data-end]
    ;
    position: relative;
    z-index: 0;
    filter: drop-shadow($section-box-shadow);
  }
  
  &__icon {
    grid-area: icon-beg / icon-beg / icon-end / icon-end;
    color: var(--theme-block__color);
    background-color: var(--theme-block__background-color);
    font-size: 2rem;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  &__box {
    grid-area: data-beg / data-beg / data-end / data-end;
    color: var(--theme-block__color);
    background-color: var(--theme-block__background-color);
    box-sizing: border-box;
    padding: $icon-radius;
    border-radius: $section-border-radius;
    line-height: 1.62;
  }
  
  &__head {
    @include head--3;
    margin-bottom: 0.5em;
    font-weight: bolder;
  }
}
