@import "element/head";
@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $main-column-width,
);

.summary-testimonials {
  //TODO: make better switching with background image
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 50%, 0.4)), url("/images/pages/testimonials/summary-background-480w.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
  
  @media screen and (min-width: 480px) {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 50%, 0.4)), url("/images/pages/testimonials/summary-background-768w.jpg");
  }
  
  @media only screen and (min-width: 768px) {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 50%, 0.4)), url("/images/pages/testimonials/summary-background-1280w.jpg");
  }
  
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.3), hsla(0, 0%, 50%, 0.4)), url("/images/pages/testimonials/summary-background-1920w.jpg");
  }

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__content {
    @include clamp("margin", $page-gap);
    @include clamp("width", $main-column-width);
    @include clamp("grid-gap", $section-gap);
    
    display: grid;
    grid-template:
      "head"
      "body" 1fr
      "foot" 
      / 100%
    ;
    justify-content: center;
    justify-items: center;
  }
  
  &__head {
    @include head--2;
    text-align: center;
    color: var(--theme-text__color);
    text-shadow: $section-text-shadow;
  }
  
  &__testimonials {
    @include clamp("margin", $page-gap);
    @include clamp("width", $main-column-width);
    @include clamp("grid-gap", $section-gap);
    
    display: grid;
    align-items: stretch;
    grid-auto-flow: row;
    grid-auto-rows: minmax(30vh, 1fr);
    justify-content: center;
    justify-items: center;
    
    @media all and (min-width: 2*$text-width-min) {
      grid-template-columns: repeat(auto-fit, minmax($text-width-min, 1fr));
    }
    
    $image-height: 128px;
    $image-half-height: $image-height / 2;
    
    &__testimonial {
      display: grid;
      grid-template-rows:
                            [head-beg        ]
        $image-half-height  [         box-beg]
        $image-half-height  [head-end        ]
        1fr                 [         box-end]
      ;
      grid-template-columns: 100%;
      justify-content: center;
      justify-items: center;
      position: relative;
      z-index: 0;
      width: 100%;

      &__head {
        grid-area: head-beg / 1 / head-end / -1;
        z-index: 1;
        width: 128px;
        height: 128px;
        border-radius: 50%;
        box-shadow: $section-box-shadow;
      }
      
      &__box {
        grid-area: box-beg / 1 / box-end / -1;
        width: 100%;
        height: 100%;
        box-shadow: $section-box-shadow;
        border-radius: $section-border-radius;
        display: grid;
        grid-template:
          "body" 1fr
          "foot" auto
          / 100%;
        ;
        box-sizing: border-box;
        @include clamp("padding", $section-gap);
        @include clamp("grid-row-gap", $section-gap);
        padding-top: $image-half-height + map-get($section-gap, "fallback");
        justify-items: center;
        color: var(--theme-block__color);
        background-color: var(--theme-block__background-color);
      }
      
      &__quote {
        grid-area: body;
        text-align: center;
        line-height: 1.67;
        
        @media all and (min-width: $text-width-min) {
          text-align: left;
        }
      }
      
      &__reference {
        grid-area: foot;
        text-align: center;
        font-weight: bolder;
        
        @media all and (min-width: $text-width-min) {
          text-indent: 2em;
          text-align: left;
          &::before {
            content: "-";
          }
        }
      }
      
      &__button {
        grid-area: foot;
        @include button;
      }
    }
  }
}

