@import "settings";

@mixin button {
  display: block;

  box-sizing: border-box;
  padding: 1em 2em;
  
  color: var(--theme-block__color);
  background-color: var(--theme-block__background-color);
  cursor: pointer;
  text-align: center;
  
  transition-property: color, background-color;
  transition-duration: 300ms;
  
  &:hover {
    color: var(--theme-block__color--hover);
    background-color: var(--theme-block__background-color--hover);
  }
}

.button {
  @include button;
}
