@import "settings-helper";

@mixin head($type: 'h4', $breakpoint: $text-width-min) {
}

@mixin head--1 {
  font-size: 3.1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  
  @media all and (min-width: $text-width-min) {
    font-size: 4.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

@mixin head--2 {
  font-size: 2rem;
  
  @media all and (min-width: $text-width-min) {
    font-size: 2.6rem;
  }
}

@mixin head--3 {
  font-size: 1.4rem;
  
  @media all and (min-width: $text-width-min) {
    font-size: 1.6rem;
  }
}

@mixin head--4 {
  font-size: 1rem;
}

@mixin head--5 {
  font-size: 0.6rem;
}

@mixin head--6 {
  font-size: 0.4rem;
}


