@import "settings";

@mixin list {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: auto;
  align-content: space-between;
  grid-row-gap: 0.6em;
  padding: 0;
  
  list-style-type: none;
  text-align: center;
  
  @media all and (min-width: 2*$text-width-min) {
    align-items: start;
    padding-left: 2rem;
    grid-row-gap: 0.2em;
    
    list-style-type: disc;
    text-align: left;
  }
}
