$color-true-white: #fff;
$color-white: #f2f2f2;
$color-light: #a8b9ad;
$color-dark: #273902;
$color-black: #010101;
$color-true-black: #000;
$color-none: transparent;

$color-white-hover: adjust-color($color-white, $lightness: 10%);
$color-light-hover: adjust-color($color-light, $lightness: 10%);
$color-dark-hover: adjust-color($color-dark, $lightness: 10%);
$color-black-hover: adjust-color($color-black, $lightness: 10%);
$color-true-white-hover: $color-light-hover;
$color-true-black-hover: $color-dark-hover;
$color-none-hover: transparent;

////////////////////////////////
$text: (
  "width": (
    "var": --text__width,
    "fallback": 100%,
    "min": 20em,
    "func": 100%,
    "percent": 1.00,
    "max": 50em,
  )
);

$page: (
  "gap": (
    "var": --page__gap,
    "fallback": 30px,
    "min": 20px,
    "func": 5vw,
    "percent": 0.05,
    "max": 40px,
  ),
  "box-shadow": 12px 12px 24px #1114,
  "text-shadow": 1px 1px 3px #111C,
  "border-radius": 12px,
);

$section: (
  "gap": (
    "var": --section__gap,
    "fallback": 24px,
    "min": 16px,
    "func": 4vw,
    "percent": 0.04,
    "max": 32px,
  ),
  "box-shadow": 6px 6px 12px #1114,
  "text-shadow": 1px 1px 3px #111C,
  "border-radius": 12px,
);

$subsection: (
  "gap": (
    "var": --subsection__gap,
    "fallback": 18px,
    "min": 12px,
    "func": 3vw,
    "percent": 0.03,
    "max": 24px,
  ),
  "box-shadow": 3px 3px 6px #1118,
  "text-shadow": 1px 1px 3px #111C,
  "border-radius": 12px,
);

$sub2section: (
  "gap": (
    "var": --sub2section__gap,
    "fallback": 18px,
    "min": 12px,
    "func": 2vw,
    "percent": 0.03,
    "max": 16px,
  ),
  "box-shadow": 3px 3px 6px #1118,
  "text-shadow": 1px 1px 3px #111C,
  "border-radius": 12px,
);

$main-column: (
  "width": (
    "var": --main-column__width,
    "fallback": 90%,
    "min": 0,
    "func": 90vw,
    "percent": 0.90,
    "max": 1024px,
    "small": 600px,
  ),
);

$side-column: (
  "width": (
    "var": --main-column__width,
    "fallback": 90%,
    "min": 0,
    "func": 90vw,
    "percent": 0.90,
    "max": 340px,
    "small": 200px,
  ),
);

$page-head: (
  "height": (
    "var": --page-head__height,
    "fallback": 86px,
    "values": [
      [null, 50px],
      [768px, 72px],
      [1280px, 86px]
    ]
  )
);

////////////////////////////////
$color-themes:
  ( "name": "main", 
    "primary": $color-true-white, 
    "primary-hover": $color-true-white-hover, 
    "overlay": $color-true-black, 
    "overlay-hover": $color-true-black-hover, 
    "border": $color-true-black, 
    "border-hover": $color-true-black-hover),
  ( "name": "white", 
    "primary": $color-white, 
    "primary-hover": $color-white-hover, 
    "overlay": $color-black, 
    "overlay-hover": $color-black-hover, 
    "border": $color-dark, 
    "border-hover": $color-dark-hover),
  ( "name": "light", 
    "primary": $color-light, 
    "primary-hover": $color-light-hover, 
    "overlay": $color-black, 
    "overlay-hover": $color-black-hover, 
    "border": $color-dark, 
    "border-hover": $color-dark-hover),
  ( "name": "dark", 
    "primary": $color-dark, 
    "primary-hover": $color-dark-hover, 
    "overlay": $color-white, 
    "overlay-hover": $color-white-hover, 
    "border": $color-light, 
    "border-hover": $color-light-hover),
  ( "name": "black", 
    "primary": $color-black, 
    "primary-hover": $color-black-hover, 
    "overlay": $color-light, 
    "overlay-hover": $color-light-hover, 
    "border": $color-white, 
    "border-hover": $color-white-hover),
  ( "name": "menu", 
    "primary": $color-white, 
    "primary-hover": $color-light-hover, 
    "overlay": $color-black, 
    "overlay-hover": $color-black-hover, 
    "border": $color-dark, 
    "border-hover": $color-dark-hover),
  ( "name": "link", 
    "primary": $color-dark, 
    "primary-hover": $color-dark-hover, 
    "overlay": $color-black, 
    "overlay-hover": $color-black-hover, 
    "border": $color-dark, 
    "border-hover": $color-dark-hover);

