@import "settings";

$page-gap: map-get($page, "gap");
$section-gap: map-get($section, "gap");
$subsection-gap: map-get($subsection, "gap");
$sub2section-gap: map-get($sub2section, "gap");
$main-column-width: map-get($main-column, "width");
$section-box-shadow: map-get($section, "box-shadow");
$text-width-min: map-get(map-get($text, "width"), "min");
$text-width-max: map-get(map-get($text, "width"), "max");
$section-border-radius: map-get($section, "border-radius");
$subsection-border-radius: map-get($subsection, "border-radius");
$section-text-shadow: map-get($section, "text-shadow");
$main-column-width-small: map-get(map-get($main-column, "width"), "small");
$side-column-width-small: map-get(map-get($side-column, "width"), "small");
$main-column-width-max: map-get(map-get($main-column, "width"), "max");
$side-column-width-max: map-get(map-get($side-column, "width"), "max");
$section-gap-max: map-get($section-gap, "max");
$subsection-gap-max: map-get($subsection-gap, "max");
$page-gap-max: map-get($page-gap, "max");
$page-head-height-var: map-get(map-get($page-head, "height"), "var");

@mixin page-head__height {
  $page-head__height__var: map-get(map-get($page-head, "height"), "var");
  @each $breakpoint, $height in map-get(map-get($page-head, "height"), "values") {
    @if $breakpoint == null {
      #{$page-head__height__var}: $height;
    } @else {
      @media all and (min-width: #{$breakpoint}) {
        #{$page-head__height__var}: $height;
      }
    }
  }
}

@mixin fallback($query, $properties...) {
  #{$query} {
    @each $property in $properties {
      $var: map-get($property, "var");
      
      @if ($var != null) {
        $min: map-get($property, "min");
        $max: map-get($property, "max");
        $func: map-get($property, "func");
        $percent: map-get($property, "percent");
        
        #{$var}: $min;
        @media all and (min-width: #{round($min / $percent)}) { #{$var}: $func; }
        @media all and (min-width: #{round($max / $percent)}) { #{$var}: $max; }
      }
    }
  }
}

@function css-function( $function, $values... ) {
	@return 
		$function
		+ unquote( '(' )
		+ $values
		+ unquote( ')' )
	;
}

@function css-min( $values... ) {
	@return css-function( min, $values );
}

@function css-max( $values... ) {
	@return css-function( max, $values );
}

@function css-clamp( $values... ) {
	@return css-function( clamp, $values );
}

@mixin clamp($attribute, $value) {
  $var: map-get($value, "var");
  $min: map-get($value, "min");
  $max: map-get($value, "max");
  $func: map-get($value, "func");

  #{$attribute}: map-get($value, "fallback");
  @if ($var != null) {
    #{$attribute}: var($var);
  }
  #{$attribute}: css-max($min, css-min($func, $max));
  #{$attribute}: clamp($min, $func, $max);
}

