@import "settings";

@each $theme in $color-themes {
  $primary: map-get($theme, "primary");
  $primary-hover: map-get($theme, "primary-hover");
  $overlay: map-get($theme, "overlay");
  $overlay-hover: map-get($theme, "overlay-hover");
  $border: map-get($theme, "border");
  $border-hover: map-get($theme, "border-hover");
  
  [data-theme~="#{map-get($theme, "name")}"] {
    --theme-color-primary: #{$primary};
      --theme-color-primary--hover: #{$primary-hover};
    --theme-color-overlay: #{$overlay};
      --theme-color-overlay--hover: #{$overlay-hover};
    --theme-color-border: #{$border};
      --theme-color-border--hover: #{$border-hover};
  }
}

[data-theme], [data-theme~="normal"] {
  --theme-text__color: var(--theme-color-primary);
    --theme-text__color--hover: var(--theme-color-primary--hover);
    
  --theme-svg__fill: var(--theme-color-primary);
  --theme-svg__stroke: var(--theme-color-primary);
    --theme-svg__fill--hover: var(--theme-color-primary--hover);
    --theme-svg__stroke--hover: var(--theme-color-primary--hover);
    
  --theme-block__color: var(--theme-color-overlay);
  --theme-block__background-color: var(--theme-color-primary);
  --theme-block__border-color: var(--theme-color-border);
    --theme-block__color--hover: var(--theme-color-overlay--hover);
    --theme-block__background-color--hover: var(--theme-color-primary--hover);
    --theme-block__border-color--hover: var(--theme-color-border--hover);
}

[data-theme~="over"] {
  --theme-text__color: var(--theme-color-overlay);
    --theme-text__color--hover: var(--theme-color-overlay--hover);
    
  --theme-svg__fill: var(--theme-color-overlay);
  --theme-svg__stroke: var(--theme-color-overlay);
    --theme-svg__fill--hover: var(--theme-color-overlay--hover);
    --theme-svg__stroke--hover: var(--theme-color-overlay--hover);
    
  --theme-block__color: var(--theme-color-overlay);
  --theme-block__background-color: var(--theme-color-primary);
  --theme-block__border-color: var(--theme-color-border);
    --theme-block__color--hover: var(--theme-color-overlay--hover);
    --theme-block__background-color--hover: var(--theme-color-primary--hover);
    --theme-block__border-color--hover: var(--theme-color-border--hover);
}

@import "element/head";
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

h1 {@include head--1;}
h2 {@include head--2;}
h3 {@include head--3;}
h4 {@include head--4;}
h5 {@include head--5;}
h6 {@include head--6;}

@import "element/list";
ul, ol {
  @include list;
}


