@import "element/head";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $sub2section-gap,
  $main-column-width,
);

.page-foot {
  border-top: solid 1px var(--theme-block__border-color);
  color: var(--theme-block__color);
  background-color: var(--theme-block__background-color);
  width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__content {
    @include clamp("padding", $page-gap);
    @include clamp("width", $main-column-width);
    @include clamp("grid-gap", $section-gap);
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    grid-auto-columns: 100%;
    
    @media all and (min-width: 3.1*$text-width-min) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
  
  &__tagline {
    @include clamp("grid-gap", $subsection-gap);
    display: grid;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
    grid-auto-columns: 100%;

    &__logo {
      width: 100%;
      height: auto;
      max-height: 50vh;
      object-fit: scale-down;
      font-size: 0;
    }
  }
  
  &__nav {
    @include clamp("grid-gap", $subsection-gap);
    align-self: start;
    
    display: grid;
    grid-template: 
      "head" auto
      "body" 1fr
      / 100%
    ;
    align-items: space-between;
    justify-items: center;
  }
  
  &__head {
    text-align: center;
    font-weight: bolder;
    grid-area: head;
    border-bottom: solid 1px black;
  }
  
  &__links {
    @include clamp("grid-gap", $sub2section-gap);
    grid-area: body;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    align-items: space-around;
    justify-items: center;
    text-align: center;
    
    font-size: 75%;
  }
  
  
  &__link {
    color: var(--theme-text__color);
    transition: color 150ms linear;
    
    &:hover {
      color: var(--theme-text__color--hover);
    }
  }
  
  &__social-links {
    grid-area: body;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
  }
  
  &__social-link {
    @include clamp("margin", $sub2section-gap);
    height: 32px;
    width: 32px;
  }
}
