/******************************************************************************/
.page-head {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16;

  height: 56px;
  width: 100%;
  box-sizing: border-box;

  filter: drop-shadow(0px 3px 6px #1118);
}

/**************************************/
.page-head__spacer {
  height: 50px;
}

/**************************************/
.page-head__toggle:checked ~ .page-head__overlay {
  display: none;
}

.page-head__overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  
  height: 100vh;
  width: 100%;

  background-color: #15171633;
}

/**************************************/
.page-head__outside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 32;

  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template:  "left center right" auto
                  / 70px 1fr 70px;

  filter: drop-shadow(2px 2px 1px #1118);
  background-color: transparent;
  
  pointer-events: none;
}

/******************/
.page-head__home {
  grid-area: left;

  height: 44px;
  box-sizing: border-box;
  
  padding: 5px 2px 2px 5px;
  
  background-color: var(--theme-svg__fill);
  
  pointer-events: auto;
}

/********/
.page-head__logo {
  width: 100%;
  height: 100%;

  filter: drop-shadow(1px 1px 1px #1118);
  object-fit: scale-down; 
  background-color: transparent;
}

/******************/
.page-head__outside-top {
  grid-area: center;

  height: 12px;
  box-sizing: border-box;

  background-color: var(--theme-svg__fill);
}

/******************/
.page-head__button {
  grid-area: right;

  height: 44px;
  box-sizing: border-box;
  
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 5px 2px 2px;

  background-color: var(--theme-svg__fill);
  
  pointer-events: auto;
}

/********/
.page-head__button-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

/****/
.hamburger {
  fill: var(--theme-svg__fill);
  
  transition: fill 150ms;
}

.hamburger:hover {
  fill: var(--theme-svg__fill--hover);
}

/****/
#line0 {
  transform-origin: left top;
  transform: scaleX(0);
  transition: transform 150ms;
}

#line3 {
  transform-origin: right bottom;
  transform: scaleX(0);
  transition: transform 150ms;
}

#line1 {
  transform-origin: center center;
  transform: rotate(45deg);
  transition: transform 150ms;
}

#line2 {
  transform-origin: center center;
  transform: rotate(-45deg);
  transition: transform 150ms;
}

#toggle__page-head:checked ~ .page-head__outside #line0,
#toggle__page-head:checked ~ .page-head__outside #line1,
#toggle__page-head:checked ~ .page-head__outside #line2,
#toggle__page-head:checked ~ .page-head__outside #line3 {
  transform: rotate(0deg);
  transform: scaleX(1);
}

/**************************************/
.page-head__inside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 24;

  width: 100%;
  box-sizing: border-box;

  display: grid;
  grid-template:  "left tabs right" auto
                  / 70px 1fr 70px;

  background-color: transparent;
}

/******************/
.page-head__left {
  grid-area: left;

  height: 50px;

  background-color: var(--theme-color-primary);
}

/******************/
.page-head__tabs {
  grid-area: tabs;

  width: 100%;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  background-color: transparent;
}

/********/
.page-head__tab {
  margin-top: 12px;

  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  text-align: center;
  border-radius: 0px 0px 6px 6px;
  color: var(--theme__color);
  background-color: var(--theme-color-primary);
  text-transform: uppercase;
  
  transition: height 150ms;
}

/********/
.page-head__tab:hover {
  height: 56px;
}

/******************/
.page-head__right {
  grid-area: right;

  height: 50px;

  background-color: var(--theme-color-primary);
}

/**************************************/
.page-head__toggle:checked ~ .page-head__menu {
  top: -100vh;
  height: 0;
  overflow: hidden;
}

.page-head__menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 28;
  
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  
  padding-top: 44px;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: 1fr;
  justify-items: stretch;
  align-items: stretch;

  box-shadow: 0px 3px 6px #1118;
  text-align: center;
  font-size: 2.62rem;
  background-color: var(--theme-color-primary);
  overflow: visible;
  
  transition: top 150ms;
}

/******************/
.page-head__menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  
  color: var(--theme-color-overlay);
  background-color: var(--theme-color-primary);
  
  transition: color 150ms, background-color 150ms;
}

.page-head__menu-item:hover {
  color: var(--theme-color-overlay--hover);
  background-color: var(--theme-color-primary--hover);
}

@media all and (min-width: 768px) {
  /****************************************************************************/
  .page-head {
    height: 80px;
  }
  
  /**************************************/
  .page-head__outside {
    grid-template:  "left center right" auto
                    / 120px 1fr 120px;
  }

  /******************/
  .page-head__home {
    height: 64px;
    padding: 10px 5px 5px 10px;
  }

  /******************/
  .page-head__outside-top {
    height: 16px;
  }

  /******************/
  .page-head__button {
    height: 64px;
    padding: 10px 10px 5px 5px;
  }
  
  /**************************************/
  .page-head__inside {
    grid-template:  "left tabs right" auto
                    / 120px 1fr 120px;
  }

  /******************/
  .page-head__spacer, .page-head__left, .page-head__right {
    height: 72px;
  }

  /******************/
  .page-head__tabs {
    font-size: 1.62rem;
  }
  
  /********/
  .page-head__tab {
    margin-top: 16px;
    height: 72px;
  }

  /********/
  .page-head__tab:hover {
    height: 80px;
  }

  /**************************************/
  .page-head__toggle:checked ~ .page-head__menu {
    top: -50vh;
    height: 0;
    overflow: hidden;
  }

  .page-head__menu {
    top: 0;
    height: 50vh;
    padding-top: 64px;
    font-size: 1.62rem;
    overflow: visible;
  }
}

@media all and (min-width: 1280px) {
  /****************************************************************************/
  .page-head {
    height: 96px;
  }
  
  /**************************************/
  .page-head__outside {
    grid-template:  "left center right" auto
                    / 128px 1fr 128px;
  }

  /******************/
  .page-head__home {
    height: 80px;
    padding: 10px;
  }

  /******************/
  .page-head__outside-top {
    height: 16px;
  }

  /******************/
  .page-head__button {
    height: 80px;
    padding: 10px;
  }

  /**************************************/
  .page-head__inside {
    grid-template:  "left tabs right" auto
                    / 128px 1fr 128px;
  }

  /******************/
  .page-head__spacer, .page-head__left, .page-head__right {
    height: 86px;
  }

  /******************/
  .page-head__tabs {
    font-size: 2.62rem;
  }
  
  /********/
  .page-head__tab {
    margin-top: 16px;
    height: 78px;
  }

  /********/
  .page-head__tab:hover {
    height: 94px;
  }

  /**************************************/
  .page-head__toggle:checked ~ .page-head__menu {
    top: -35vh;
    height: 0;
    overflow: hidden;
  }

  .page-head__menu {
    top: 0;
    height: 35vh;
    padding-top: 80px;
    font-size: 1.62rem;
    overflow: visible;
  }
}
