---
---

@import "settings";
@import "element/button";

@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $main-column-width,
);

.head {
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  grid-template:
    "head"
    "body"
  ;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  
  &__title {
    grid-area: head;
    text-align: center;
    color: var(--theme-text__color);
  }
  
  &__text {
    grid-area: body;
    text-align: center;
  }
}

.resources {
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  align-items: stretch;
  grid-auto-flow: row;
  grid-auto-rows: minmax(30vh, 1fr);
  justify-content: center;
  
  @media all and (min-width: 2*$text-width-min) {
    grid-template-columns: repeat(auto-fit, minmax($text-width-min, 1fr));
  }
  
  $image-height: 128px;
  $image-half-height: $image-height / 2;
  
  &__resource {
    display: grid;
    grid-template-rows:
                          [head-beg        ]
      $image-half-height  [         box-beg]
      $image-half-height  [head-end        ]
      1fr                 [         box-end]
    ;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    position: relative;
    z-index: 0;
    width: 100%;

    &__head {
      grid-area: head-beg / 1 / head-end / -1;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: scale-down;
      filter: drop-shadow($section-box-shadow);
    }
    
    &__box {
      grid-area: box-beg / 1 / box-end / -1;
      width: 100%;
      height: 100%;
      box-shadow: $section-box-shadow;
      border-radius: $section-border-radius;
      display: grid;
      grid-template:
        "head" auto
        "body" 1fr
        "foot" auto
        / 100%;
      ;
      box-sizing: border-box;
      @include clamp("padding", $subsection-gap);
      @include clamp("grid-row-gap", $subsection-gap);
      padding-top: $image-half-height + map-get($subsection-gap, "fallback");
      justify-items: center;
    }
    
    &__title {
      grid-area: head;
      text-align: center;
    }
    
    &__summary {
      grid-area: body;
      text-align: center;
      
      @media all and (min-width: $text-width-min) {
        text-align: left;
      }
    }
    
    &__button {
      grid-area: foot;
      @include button;
      width: auto;
    }
  }
}

.back-link {
  display: flex;
  justify-content: center;
  @include clamp("margin-bottom", $page-gap);
  
  &__button {
    @include button;
    width: auto;
  }
}
