{% assign ns = "summary-methodology" %}

<article class="{{ ns }}">
  {% for step in site.data.methodology %}
    <section class="{{ ns }}__card">
      <section class="{{ ns }}__icon" data-theme="dark">{{ forloop.index }}</section>
      <section class="{{ ns }}__box" data-theme="main">
        <h3 class="{{ ns }}__head">{{ step.title }}</h3>
        <section class="{{ ns }}__body">{{ step.text }}</section>
      </section>
    </section>
  {% endfor %}
</article>
