{% assign ns = "summary-testimonials" %}
{% assign ns-head = ns | append: "__head" %}
{% assign ns-testimonials = ns | append: "__testimonials" %}
{% assign ns-button = ns | append: "__button" %}
<article class="{{ ns }}">
  <section class="{{ ns }}__content">
    {% assign ns = ns-head %}
    <h2 class="{{ ns }}" data-theme="dark over">
      Testimonials
    </h2>

    {% assign ns = ns-testimonials %}
    <section class="{{ ns }}">
      {% assign ns = ns | append: "__testimonial" %}
      {% for testimony in site.data.testimonials limit: 2 %}
        <article class="{{ ns }}">
          <img class="{{ ns }}__head" src="{{ testimony.image }}">
          <section class="{{ ns }}__box" data-theme="main">
            <section class="{{ ns }}__quote">{{ testimony.quote | markdownify }}</section>
            <footer class="{{ ns }}__reference">{{ testimony.name }}</footer>
          </section>
        </article>
      {% endfor %}
    </section>

    {% include element/button.md 
      link = "/testimonials"
      theme = "dark"
      text = "More Testimonials"
      class = ns-button
    %}
  </section>
</article>
