---
{
  "layout": "seo",
  "stylesheets": [
    { "type": "text/css", "link": "/styles/main.css" },
    { "type": "text/css", "link": "/styles/articles/article.css" }
  ]
}
---

{% assign original-page = page %}
{% assign original-post = post %}
{% assign writer = site.writers | where: 'guid', original-page.writer | first %}

{% include page/head.html %}
<main class="page-wrapper" role="main">
  <section class="columns">
    <section class="main">
      <article class="article">
        <hgroup>
          <h1>{{ original-page.title }}</h1>
          <h3>{{ original-page.date | date_to_string }} - {{ writer.firstname }}</h3>
        </hgroup>
        <hr>
        {{ content | markdownify }}
      </article>
      {% assign namespace = "writer-box" %}
      <article class="{{ namespace }}">
        <img class="{{ namespace }}__image" src="{{ writer.image }}">
        <header class="{{ namespace }}__title">
          <h2 class="{{ namespace }}__name">{{ writer.fullname }}</h2>
          {% if writer.business %}
            <h3 class="{{ namespace }}__business">{{ writer.business }}</h3>
          {% endif %}
        </header>
        {% assign classList = namespace | append: "__button" %}
        {% include element/button.md 
          link=writer.url
          text="Learn More"
          theme="dark"
          class=classList
        %}
      </article>
    </section>
    
    {% assign namespace = "more" %}
    <section class="{{ namespace }}" data-theme="white">

      {% assign namespace = "more__related" %}
      <section class="{{ namespace }}">
        <h3 class="{{ namespace }}__title">Related Articles</h3>
        <section class="{{ namespace }}__list">
        {% for article in site.related_posts limit: 5 %}
          <a class="{{ namespace }}__item" href="{{ article.url }}">{{ article.title }}</a>
        {% endfor %}
        </section>
      </section>
      
      {% assign namespace = "more__recent" %}
      <section class="{{ namespace }}">
        <h3 class="{{ namespace }}__title">Recent Articles</h3>
        <section class="{{ namespace }}__list">
        {% for article in site.posts limit: 5 %}
          <a class="{{ namespace }}__item" href="{{ article.url }}">{{ article.title }}</a>
        {% endfor %}
        </section>
      </section>
      
      {% assign namespace = "more__history" %}
      <section class="{{ namespace }}">
        <h3 class="{{ namespace }}__title">All Articles</h3>
        {% assign first = site.posts | first %}
        {% assign currYear = first.date | date: '%Y' %}
        
        {% assign namespace = "more__history__year" %}
        <details>
          <summary class="{{ namespace }}__title">{{ currYear }}</summary>
          <section class="{{ namespace }}__list">
        {% for article in site.posts %}
          {% assign articleYear = article.date | date: '%Y' %}
          
          {% if articleYear == currYear %}
            <a class="{{ namespace }}__item" href="{{ article.url }}">{{ article.title }}</a>
          {% else %}
            {% assign currYear = articleYear %}
              </section>
            </details>
            <details>
              <summary class="{{ namespace }}__title">{{ currYear }}</summary>
              <section class="{{ namespace }}__list">
                <a class="{{ namespace }}__item" href="{{ article.url }}">{{ article.title }}</a>
          {% endif %}
        {% endfor %}
          </section>
        </details>
      </section>
      
    </section>
  </section>
</main>
  {% include page/foot.html %}
