<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="utf-8" >
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="/favicon.png"/>
  <link type="text/css" rel="stylesheet" href="/styles/reset.css">
  {% for stylesheet in layout.stylesheets %}
    <link type="{{ stylesheet.type }}" rel="stylesheet" href="{{ stylesheet.link }}">
  {% endfor %}
  {% for stylesheet in page.stylesheets %}
    <link type="{{ stylesheet.type }}" rel="stylesheet" href="{{ stylesheet.link }}">
  {% endfor %}
  {%- for meta in page.metas -%}
    <meta {% for attribute in meta %} {{ attribute.key }}="{{ attribute.value }}" {% endfor %} />
  {%- endfor -%}
  {% for link in page.links %}
    <link {% for attribute in link %} {{ attribute.key }}="{{ attribute.value }}" {% endfor %} />
  {% endfor %}
  
  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}">
  {% else %}
    <link rel="canonical" href="{{ site.url | append: site.baseurl | append: page.url }}">
  {% endif %}
  <meta property="og:url" content="{{ site.url | append: site.baseurl | append: page.url }}">
  
  {% if page.social-media and page.social-media.image %}
    {% assign image = site.url | append: site.baseurl | append: page.social-media.image %}
    <meta property="og:image" content="{{ image }}">
    <meta property="og:image:secure_url" content="{{ image }}">
    <meta name="twitter:image" content="{{ image }}">
    <meta property="og:image:width" content="1920px">
    <meta property="og:image:height" content="1080px">
  {% endif %}
  
  {% if page.title %}
    {% assign title = page.title %}
  {% else %}
    {% assign title = site.title %}
  {% endif %}
  <title>{{ title }}</title>
  <meta property="og:title" content="{{ title }}">
  <meta itemprop="name" content="{{ title }}">
  <meta name="twitter:title" content="{{ title }}">
  
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta itemprop="description" content="{{ page.description }}">
    <meta name="twitter:description" content="{{ page.description }}">
  {% endif %}
  
  <meta property="og:site_name" content="{{ site.title }}" />
</head>

<body>
  {{ content }}
</body>

</html>
