---
{
  "layout": "seo",
  "stylesheets": [
    { "type": "text/css", "link": "/styles/main.css" },
    { "type": "text/css", "link": "/styles/writer.css" }
  ]
}
---

{{ page.title }}

{% include page/head.html %}
<main class="page-wrapper" role="main">
  {% assign ns = "info" %}
  <article class="{{ ns }}">
    <header class="{{ ns }}__head">
      {% if page.fullname %}
        <h1 class="{{ ns }}__name">{{ page.fullname }}</h1>
      {% elsif page.lastname %}
        <h1 class="{{ ns }}__name">{% if page.firstname %}{{ page.firstname }} {% endif %}{{ page.lastname }}</h1>
      {% elsif page.firstname %}
        <h1 class="{{ ns }}__name">{{ page.firstname }}</h1>
      {% else %}
        <h1 class="{{ ns }}__name">About the Author</h1>
      {% endif %}
      {% if page.business %}<h2 class="{{ ns }}__business">{{ page.business }}</h2>{% endif %}
    </header>
    <section class="{{ ns }}__body">
      <h3 class="{{ ns }}__articles-title">Article Links</h3>
      <section class="{{ ns }}__articles">
        {% for article in site.posts %}
          {% if article.writer == page.guid %}
            <section class="{{ ns }}__article" href="{{ article.url }}">
              <h3 class="{{ ns }}__article__title" data-theme="dark">{{ article.title }}</h3>
              <section class="{{ ns }}__article__summary">{{ article.excerpt }}</section>
              <a class="{{ ns }}__article__link" href="{{ article.url }}" data-theme="dark">Read More</a>
            </section>
          {% endif %}
        {% endfor %}
      </section>
    </section>
    <img class="{{ ns }}__image" src="{{ page.image }}">
  </article>
  
  {% assign stripped-content = content | strip %}
  {% unless stripped-content == "" %}
    {% assign ns = "summary" %}
    <section class="{{ ns }}">
      <h2>A Bit About 
        {% if page.firstname %}
          {{ page.firstname }}
        {% elsif page.lastname %}
          {{ page.lastname }}
        {% elsif page.fullname %}
          {{ page.fullname }}
        {% else %}
          The Author
        {% endif %}
      </h2>
      {{ content }}
    </section>
  {% endunless %}
  
  {% if page.links %}
    {% assign ns = "external" %}
    <section class="{{ ns }}">
      <h2 class="{{ ns }}__title">External Links For
        {% if page.firstname %}
          {{ page.firstname }}
        {% elsif page.lastname %}
          {{ page.lastname }}
        {% elsif page.fullname %}
          {{ page.fullname }}
        {% else %}
          The Author
        {% endif %}
      </h2>
      <section class="{{ ns }}__links">
        {% for link in page.links %}
          <a class="{{ ns }}__link" href="{{ link.link }}" data-theme="link" target="_blank">
            {% if link.text %}
              {{ link.text }}
            {% else %}
              {{ link.link }}
            {% endif %}
          </a>
        {% endfor %}
      </section>
    </section>
  {% endif %}
</main>
{% include page/foot.html %}
