---
---
@import "element/head";
@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $main-column-width,
);

.history {
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);

  display: grid;
  grid-template:
    "head"
    "body" 1fr
    "foot"
    / 100%;
  ;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
    
  &__title {
    grid-area: head;
    text-align: center;
    color: var(--theme-text__color);
  }
  
  &__text {
    grid-area: body;
    text-align: center;
    max-width: $text-width-max;
    
    @media all and (min-width: $text-width-min) {
      text-align: left;
    }
  }
  
  &__buttons {
    grid-area: foot;
    display: grid;
    @include clamp("grid-gap", $subsection-gap);
    justify-content: center;
    width: 100%;
    
    @media all and (min-width: $main-column-width-small) {
      grid-auto-flow: column;
      align-items: center;
    }
  }
  
  &__button {
    @include button;
  }
}

.employees {
  color: var(--theme-block__color);
  background-color: var(--theme-block__background-color);
  width: 100%;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    @include clamp("padding", $page-gap);
    @include clamp("width", $main-column-width);
    @include clamp("grid-gap", $section-gap);
    display: grid;
    justify-content: center;
    justify-items: center;
    box-sizing: border-box;
    grid-auto-columns: 100%;
  }
  
  &__head {
    @include head--2;
    text-align: center;
  }
  
  &__employees {
    display: grid;
    grid-auto-columns: 100%;
    @include clamp("grid-gap", $section-gap);
  }
  
  &__employee {
    display: grid;
    grid-template: 
      "image"
      "title"
      "skills"
      "quote"
      / 100%
    ;
    justify-content: center;
    justify-items: center;
    @include clamp("grid-gap", $section-gap);
    
    @media all and (min-width: 2.2*$text-width-min) {
      grid-template: 
        "image title"
        "image skills"
        "image quote"
        / 1fr 1fr
      ;
      justify-items: start;
    }
  
    &__image {
      grid-area: image;
      width: 100%;
      height: auto;
      max-height: 50vh;
      object-fit: scale-down;
      font-size: 0;
      border-radius: $section-border-radius;
    }
  
    &__title {
      grid-area: title;
      @include head--3;
      display: grid;
      text-align: center;
      
      @media all and (min-width: $main-column-width-small) {
        text-align: left;
      }
    }
    
    &__name {
      font-weight: bolder;
    }
    
    &__skills {
      grid-area: skills;
      display: grid;
      list-style-position: inside;
      @include clamp("grid-gap", $subsection-gap);
    }
    
    &__skill {
      text-align: center;
      @media all and (min-width: $main-column-width-small) {
        text-align: left;
        display: list-item;
      }
    }
    
    &__quote {
      grid-area: quote;
      text-align: center;
      @media all and (min-width: $text-width-min) {
        text-align: left;
      }
    }
  }
}

@import "section/testimonials";
