---
---

@import "element/head";
@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $sub2section-gap,
  $main-column-width,
);

.articles {
  @include clamp("margin", $page-gap);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90vw;//TODO: Something prettier
  box-sizing: border-box;
  
  grid-template:
    "main" 1fr
    "more"
    / 100%
  ;
  
  @media all and (min-width: $main-column-width-small + $side-column-width-small + $section-gap-max + 2*$page-gap-max) {
    grid-template: 
      "main more"
      / 3fr 1fr;
    align-items: stretch;
  }
  
  @media all and (min-width: $main-column-width-small + 2*($side-column-width-small + $section-gap-max + $page-gap-max)) {
    grid-template: 
      ". main more"
      / 1fr 3fr 1fr;
    align-items: stretch;
  }
  
  @media all and (min-width: $main-column-width-max + 2*($side-column-width-max + $page-gap-max + $section-gap-max)) {
    grid-template: 
      ". main more"
      / $side-column-width-max $main-column-width-max $side-column-width-max;
  }
}
  
.main {
  grid-area: main;
  display: grid;
  grid-auto-flow: row;
  @include clamp("grid-gap", $page-gap);
  
  &__head {
    display: grid;
    @include clamp("grid-gap", $section-gap);
    grid-template:  "title"
                    "image"
                    "summary"
                    "button"
                    / 100%;
    justify-items: center;
    
    @media all and (min-width: $main-column-width-small) {
      grid-template:  "title title"
                      "summary image" 1fr
                      "button image"
                      / 1fr 1fr;
    }
    
    &__title {
      @include head--1;
      grid-area: title;
      text-align: center;
    }
    
    &__summary {
      @include head--3;
      grid-area: summary;
    }
    
    &__image {
      grid-area: image;
      max-height: 50vh;
      max-width: 100%;
      align-self: center;
      border-radius: $section-border-radius;
    }
    
    &__button {
      @include button;
    }
  }
  
  &__articles {
    display: grid;
    align-items: stretch;
    grid-auto-flow: row;
    @include clamp("grid-gap", $section-gap);
    
    @media all and (min-width: $main-column-width-small) {
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));//TODO: Get a better number
      grid-auto-rows: minmax(250px, auto);
    }
  }
  
  $image-height: 128px;
  $image-half-height: $image-height / 2;
  
  &__article {
    display: grid;
    grid-template-rows:
                        [head-beg         ]
      $image-half-height [         body-beg]
      $image-half-height [head-end         ]
      1fr               [         body-end]
    ;
    grid-template-columns: 100%;
    justify-content: stretch;
    justify-items: center;
    position: relative;
    z-index: 0;
    width: 100%;
    
    &__head {
      grid-area: head-beg / 1 / head-end / -1;
      position: relative;
      z-index: 1;
      width: $image-height;
      height: $image-height;
      border-radius: 50%;
      box-shadow: $section-box-shadow;
      overflow: hidden;
    }
    
    &__image {
      width: $image-height;
      height: $image-height;
    }
    
    &__body {
      grid-area: body-beg / 1 / body-end / -1;
      width: 100%;
      height: 100%;
      box-shadow: $section-box-shadow;
      border-radius: $section-border-radius;
      box-sizing: border-box;
      @include clamp("padding", $subsection-gap);
      @include clamp("grid-gap", $subsection-gap);
      padding-top: $image-half-height + map-get($subsection-gap, "fallback");
      justify-items: center;
      
      display: grid;
      grid-template: 
        "title" auto
        "text" 1fr
        "writer" auto
        "button" auto
        / 100%;
        
      &__title {
        @include head--3;
        grid-area: title;
        text-align: center;
      }
      
      &__text {
        line-height: 1.67em;
        grid-area: text;
      }
      
      &__button {
        @include button;
        grid-area: button;
        justify-self: center;
      }
      
      &__writer {
        grid-area: writer;
        font-style: italic;
        
        @media all and (min-width: $text-width-min) {
          text-indent: 2em;
          &::before {
            content: "- ";
          }
        }
      }
    }
  }
}

.more {
  grid-area: more;
  width: 100%;
  height: 100%;
  background-color: var(--theme-block__background-color);
  box-sizing: border-box;
  @include clamp("padding", $subsection-gap);
  border-radius: $section-border-radius;
  
  &__recent {
    @include clamp("margin-top", $subsection-gap);
    @include clamp("margin-bottom", $subsection-gap);
    &__title {
      border-bottom: solid 1px currentcolor;
    }
    &__list {
      list-style-position: inside;
      @include clamp("padding-left", $sub2section-gap);
      display: grid;
      grid-auto-flow: row;
      @include clamp("grid-gap", $sub2section-gap);
    }
    &__item {
      display: list-item;
    }
  }
  
  &__history {
    @include clamp("margin-top", $subsection-gap);
    @include clamp("margin-bottom", $subsection-gap);
    &__title {
      border-bottom: solid 1px currentcolor;
    }
    &__list {
      list-style-position: inside;
    }
    &__item {
      display: list-item;
    }
    &__year {
      &__title {
        @include clamp("margin-top", $sub2section-gap);
      }
      &__list {
        list-style-position: inside;
        @include clamp("padding-left", $sub2section-gap);
        display: grid;
        grid-auto-flow: row;
        @include clamp("grid-gap", $sub2section-gap);
      }
      &__item {
        display: list-item;
        font-size: 0.8rem;
      }
    }
  }
}
