---
---

@import "element/head";
@import "settings-helper";

.head {
  @include head--1;
  color: var(--theme-text__color);
  text-align: center;
}

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $main-column-width,
);

.contacts {
  @include clamp("margin", $page-gap);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  justify-content: center;
  align-items: center;
  width: 90vw;//TODO: Something prettier
  box-sizing: border-box;
  
  grid-template:
    "main" 1fr
    "more"
    / 100%
  ;
  
  @media all and (min-width: $main-column-width-small + $side-column-width-small + $section-gap-max + 2*$page-gap-max) {
    grid-template: 
      "main more"
      / 3fr 1fr;
    align-items: stretch;
  }
  
  @media all and (min-width: $main-column-width-small + 2*($side-column-width-small + $section-gap-max + $page-gap-max)) {
    grid-template: 
      ". main more"
      / 1fr 3fr 1fr;
    align-items: stretch;
  }
  
  @media all and (min-width: $main-column-width-max + 2*($side-column-width-max + $page-gap-max + $section-gap-max)) {
    grid-template: 
      ". main more"
      / $side-column-width-max $main-column-width-max $side-column-width-max;
  }
  
  &__questionnaire {
    grid-area: main;
  }
  
  &__alternate {
    grid-area: more;
    color: var(--theme-block__color);
    background-color: var(--theme-block__background-color);
    @include clamp("padding", $subsection-gap);
    box-sizing: border-box;
    border-radius: $section-border-radius;
    
    &__title {
      @include head--3;
    }
    
    &__value {
      margin-left: 1rem;
      word-break: break-all;
    }
    
    &__value + &__type {
      margin-top: 1rem;
    }
    
    &__type {
      font-weight: bolder;
    }
    
    &__link {
      color: var(--theme-text__color);
      text-decoration: underline;
      
      transition: color 150ms linear;

      &:hover {
        color: var(--theme-text__color--hover);
      }
    }
  }
  
  
}

@import "section/testimonials";
