---
---

@import "element/head";
@import "element/list";
@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $main-column-width,
);

////////////////////////////////////////////////////////////////////////////////
//  Splash
$breakpoint-splash: 960px;
.banner {
  @include page-head__height;
  
  background-color: #CCC;
  height: 512px;
  max-height: calc(100vh - var(#{$page-head-height-var}));
  width: 100%;
  
  position: relative;
  z-index: 0;
  
  &__background {
    width: 100vw;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    font-size: 0;
    background-color: #29211B;
    
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center bottom;
      filter: brightness(50%);
      
      @media all and (min-width: $breakpoint-splash) {
        filter: None;
      }
    }
  }
  
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    @media all and (min-width: $breakpoint-splash) {
      display: grid;
      grid-template:  ". . info ." 100%
                      / 1fr 480px 480px 1fr;
      @include clamp("padding-top", $page-gap);
      @include clamp("padding-bottom", $page-gap);
      box-sizing: border-box;
      align-items: center;
      justify-items: center;
    }
  }
  
  &__info {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    @include clamp("padding", $subsection-gap);
    line-height: 1.15;
    box-sizing: border-box;
    
    @media all and (min-width: $breakpoint-splash) {
      grid-area: info;
      box-sizing: border-box;
      background-color: #374F42;
      background-image: url("/images/pages/home/splash-border.jpg");
      box-shadow: $section-box-shadow;
      border-radius: $section-border-radius;
    }
    
    &__content {
      width: 100%;
      height: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      @include clamp("padding", $subsection-gap);
      box-sizing: border-box;
      
      @media all and (min-width: $breakpoint-splash) {
        justify-content: space-evenly;
      
        background-color: var(--theme-block__background-color);
        box-shadow: $section-box-shadow;
        border-radius: $section-border-radius;
      }
    }
  }
  
  &__head {
    margin: 0;
    text-align: center;
    color: var(--theme-text__color);
    text-shadow: $section-text-shadow;
    @include head--2;
    text-transform: uppercase;
    
    @media all and (min-width: $breakpoint-splash) {
      color: var(--theme-block__color);
      text-shadow: none;
    }
  }
  
  &__button {
    @include button;
    box-shadow: $section-box-shadow;
    
    @media all and (min-width: $breakpoint-splash) {
      box-shadow: none;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
//  Summary-1
.summary-1 {
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  grid-template:  "head"
                  "figure"
                  "body"
                  "foot";
  justify-content: center;
  justify-items: center;
  
  @media all and (min-width: 2.1*$text-width-min) {
    grid-template:  "head head" auto
                    "figure body" 1fr
                    "foot foot" auto
                    / 1fr 1fr;
  }

  &__image {
    grid-area: figure;
    max-width: 100%;
    max-height: 50vh;
    border-radius: $section-border-radius;
    
    @media all and (min-width: 2.1*$text-width-min) {
      max-height: unset;
    }
    
    @media all and (min-width: 3.1*$text-width-min) {
      align-self: center;
    }
  }

  &__head {
    @include head--2;
    grid-area: head;
    color: var(--theme-text__color);
    text-align: center;
    justify-self: center;
    
    @media all and (min-width: 3.1*$text-width-min) {
      text-align: left;
      justify-self: start;
    }
  }

  &__list {
    @include list;
    grid-area: body;
    text-align: center;
    justify-self: center;
    
    @media all and (min-width: 2.1*$text-width-min) {
      text-align: left;
      justify-self: start;
    }
  }

  &__button {
    grid-area: foot;
    justify-self: center;
  }
}

////////////////////////////////////////////////////////////////////////////////
//  Summary-2
.summary-2 {
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  grid-template:  "head"
                  "figure"
                  "body"
                  "foot";
  justify-content: center;
  justify-items: center;
  
  @media all and (min-width: 2.1*$text-width-min) {
    grid-template:  "head head" auto
                    "body figure" 1fr
                    "foot foot" auto
                    / 1fr 1fr;
  }
  
  &__image {
    grid-area: figure;
    max-width: 100%;
    max-height: 50vh;
    border-radius: $section-border-radius;
    
    @media all and (min-width: 2.1*$text-width-min) {
      max-height: unset;
    }
    
    @media all and (min-width: 3.1*$text-width-min) {
      align-self: center;
    }
  }

  &__head {
    @include head--2;
    grid-area: head;
    color: var(--theme-text__color);
    text-align: center;
    justify-self: center;
    
    @media all and (min-width: 3.1*$text-width-min) {
      text-align: left;
      justify-self: start;
    }
  }

  &__text {
    grid-area: body;
    align-self: center;
  }

  &__button {
    grid-area: foot;
    justify-self: center;
  }
}

@import "section/methodology";
@import "section/testimonials";
