---
---
@import "settings-helper";
@import "themes";
@import "page/head-tabless";
@import "page/foot";

html {
  line-height: 1.67;
}

.page-wrapper,
.page-wrapper--body-sidebar,
.page-wrapper--single-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
