---
---
@import "element/head";
@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $main-column-width,
);

.extra-before {
  @include clamp("margin-bottom", $page-gap);
  color: var(--theme-block__color);
  background-color: var(--theme-block__background-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.67;
  
  &__content {
    @include clamp("margin", $page-gap);
    @include clamp("width", $main-column-width);
    @include clamp("grid-gap", $section-gap);
    
    display: grid;
    grid-template:
      "head"
      "body" 1fr
      "foot"
      / 100%
    ;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  &__head {
    grid-area: head;
  }
  
  &__text {
    grid-area: body;
    text-align: center;
    
    @media all and (min-width: $text-width-min) {
      text-align: left;
    }
  }
  
  &__image {
    grid-area: image;
    width: 100%;
    height: auto;
    max-height: 50vh;
    max-width: 100%;
    object-fit: scale-down;
    display: block;
    border-radius: $section-border-radius;
    
    @media all and (min-width: 2*$text-width-min) {
      float: right;
      max-width: 40%;
      @include clamp("margin", $subsection-gap);
    }
  }
  
  &__button {
    grid-area: foot;
    @include button;
  }
}

.head {
  color: var(--theme-text__color);
  text-align: center;
}

@import "section/methodology";

.additional-services {
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  grid-template:
    "head"
    "body" 1fr
    / 100%;
  justify-content: center;
  justify-items: center;
  
  &__head {
    @include head--2;
    text-align: center;
  }
  
  &__list {
    display: grid;
    align-items: stretch;
    grid-auto-flow: row;
    grid-auto-rows: minmax(30vh, 1fr);
    justify-content: center;
    justify-items: center;
    @include clamp("grid-gap", $section-gap);
    
    @media all and (min-width: 2*$text-width-min) {
      grid-template-columns: repeat(auto-fit, minmax($text-width-min, 1fr));
    }
  }
  
  &__card {
    @include clamp("padding", $section-gap);
    border-radius: $section-border-radius;
    box-shadow: $section-box-shadow;
    
    &__head {
      @include head--3;
      font-weight: bold;
    }
    
    &__text {
      line-height: 1.62em;
    }
  }
}

.extra-after {
  @include clamp("margin-top", $page-gap);
  color: var(--theme-block__color);
  background-color: var(--theme-block__background-color);
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.67;
  
  &__content {
    @include clamp("margin", $page-gap);
    @include clamp("width", $main-column-width);
    @include clamp("grid-gap", $section-gap);
    
    display: grid;
    grid-template:
      "head"
      "body" 1fr
      "foot"
      / 100%
    ;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  
  &__head {
    grid-area: head;
  }
  
  &__text {
    grid-area: body;
    text-align: center;
    max-width: $text-width-max;
    
    @media all and (min-width: $text-width-min) {
      text-align: left;
    }
  }
  
  &__button {
    grid-area: foot;
    @include button;
  }
}

@import "section/testimonials";
