---
---

@import "element/head";
@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $main-column-width,
);

.head {
  @include head--1;
  justify-self: center;
  text-align: center;
  color: var(--theme-text__color);
}

.testimonials {
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);
  
  display: grid;
  align-items: stretch;
  grid-auto-flow: row;
  grid-auto-rows: minmax(30vh, 1fr);
  justify-content: center;
  justify-items: center;
  
  @media all and (min-width: 2*$text-width-min) {
    grid-template-columns: repeat(auto-fit, minmax($text-width-min, 1fr));
  }
  
  $image-height: 128px;
  $image-half-height: $image-height / 2;
  
  &__testimonial {
    display: grid;
    grid-template-rows:
                          [head-beg         ]
      $image-half-height  [         body-beg]
      $image-half-height  [head-end         ]
      1fr                 [         body-end]
    ;
    grid-template-columns: 100%;
    justify-content: center;
    justify-items: center;
    position: relative;
    z-index: 0;
    width: 100%;

    &__head {
      grid-area: head-beg / 1 / head-end / -1;
      position: relative;
      z-index: 1;
      width: $image-height;
      height: $image-height;
      border-radius: 50%;
      box-shadow: $section-box-shadow;
      overflow: hidden;
    }
    
    &__box {
      grid-area: body-beg / 1 / body-end / -1;
      width: 100%;
      height: 100%;
      box-shadow: $section-box-shadow;
      border-radius: $section-border-radius;
      display: grid;
      grid-template:
        "body" 1fr
        "foot" auto
        / 100%;
      ;
      box-sizing: border-box;
      @include clamp("padding", $subsection-gap);
      @include clamp("grid-gap", $subsection-gap);
      padding-top: $image-half-height + map-get($subsection-gap, "fallback");
      justify-items: center;
    }
    
    &__quote {
      grid-area: body;
      text-align: center;
      line-height: 1.67;
      
      @media all and (min-width: $text-width-min) {
        text-align: left;
      }
    }
    
    &__reference {
      grid-area: foot;
      text-align: center;
      font-weight: bolder;
      
      @media all and (min-width: $text-width-min) {
        text-indent: 2em;
        text-align: left;
        &::before {
          content: "-";
        }
      }
    }
  }
}

.extra {
  @include clamp("padding", $page-gap);
  @include clamp("margin", $page-gap);
  @include clamp("width", $main-column-width);
  @include clamp("grid-gap", $section-gap);
  
  color: var(--theme-block__color);
  background-color: var(--theme-block__background-color);
  box-sizing: border-box;
  display: grid;
  grid-template:
    "head"
    "body" 1fr
    "foot"
  ;
  justify-items: center;
  border-radius: $section-border-radius;
  
  &__head {
    grid-area: head;
    text-align: center;
  }
  
  &__summary {
    grid-area: body;
    max-width: $text-width-max;
  }
  
  &__button {
    grid-area: foot;
    @include button;
  }
}
