---
---
@import "element/head";
@import "element/button";
@import "settings-helper";

@include fallback(":root", 
  $page-gap,
  $section-gap,
  $subsection-gap,
  $sub2section-gap,
  $main-column-width,
);

.page-wrapper--single-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  display: grid;
  grid-template: 
    "head" auto
    "image" auto
    "body" 1fr
    / 100%;
  grid-gap: 3rem;
  @include clamp("grid-gap", $section-gap);
  justify-items: center;
  box-sizing: border-box;
  @include clamp("padding", $section-gap);
  max-width: $main-column-width-max;
  
  @media all and (min-width: $main-column-width-small) {
    grid-template: 
      "image head" auto
      "body body" 1fr
      / minmax(auto, 256px) 1fr;
  }
  
  &__head {
    grid-area: head;
    text-align: center;
  }
  
  &__image {
    grid-area: image;
    max-height: 50vh;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: $section-border-radius;
    @media all and (min-width: $main-column-width-small) {
      max-height: unset;
    }
  }
  
  &__body {
    grid-area: body;
    justify-self: start;
    width: 100%;
  }
  
  &__articles-title {
    border-bottom: 1px solid currentcolor;
    @include clamp("margin-bottom", $subsection-gap);
    @include clamp("padding-bottom", $subsection-gap);
    width: 100%;
  }
  
  &__articles {
    list-style: inside;
    display: grid;
    @include clamp("grid-gap", $sub2section-gap);
  }
  
  &__article {
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: $text-width-max;

    &__title {
      margin-bottom: 0px;
    }
    
    &__summary > p {//TODO: Something better
      margin: 0;
    }
    
    &__link {
      text-decoration: underline;
      color: var(--theme-text__color);
      transition: color 150ms linear;
      
      &:hover {
        color: var(--theme-text__color--hover);
      }
    }
  }
}

.summary {
  @include clamp("padding", $section-gap);
  @include clamp("margin", $page-gap);
  box-shadow: $section-box-shadow;
  border-radius: $section-border-radius;
  max-width: $main-column-width-max;
  box-sizing: border-box;
}

.external {
  @include clamp("margin", $page-gap);
  max-width: $main-column-width-max;
  width: 100%;
  
  &__title {
    text-align: center;
  }
  
  &__links {
    display: grid;
    grid-auto-flow: row;
    @include clamp("margin", $subsection-gap);
  }
  
  &__link {
    color: var(--theme-text__color);
    text-decoration: underline;
    @include clamp("margin-bottom", $sub2section-gap);
    @include clamp("padding-bottom", $sub2section-gap);
    
    transition: color 150ms linear;

    &:hover {
      color: var(--theme-text__color--hover);
    }
  }
}
